<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cd3eb887625145aa94e767ceac6e65ea {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_cd3eb887625145aa94e767ceac6e65ea" ></div>
        
</body>
<script>    
    
            var map_cd3eb887625145aa94e767ceac6e65ea = L.map(
                "map_cd3eb887625145aa94e767ceac6e65ea",
                {
                    center: [37.60104902, 127.0659356],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_39739bd46b644b4987471871b5d86c4d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var marker_1378ede9c7b14289917a801a60d1ec0e = L.marker(
                [37.57831397, 127.0410797],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_988178979c0c44d58912e75b212fb0b5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_1378ede9c7b14289917a801a60d1ec0e.setIcon(icon_988178979c0c44d58912e75b212fb0b5);
        
    
        var popup_c353453763a747b683d21fc04fc60366 = L.popup({"maxWidth": "100%"});

        
            var html_5b62a45bad0b42b889e32834e1ef4f53 = $(`<div id="html_5b62a45bad0b42b889e32834e1ef4f53" style="width: 100.0%; height: 100.0%;">청량리수산시장</div>`)[0];
            popup_c353453763a747b683d21fc04fc60366.setContent(html_5b62a45bad0b42b889e32834e1ef4f53);
        

        marker_1378ede9c7b14289917a801a60d1ec0e.bindPopup(popup_c353453763a747b683d21fc04fc60366)
        ;

        
    
    
            var marker_78519ddbad964a70acaff7ba0f12310a = L.marker(
                [37.58098784, 127.043361],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_cdb4b11117ed469f8e2aa0ff8c45b235 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_78519ddbad964a70acaff7ba0f12310a.setIcon(icon_cdb4b11117ed469f8e2aa0ff8c45b235);
        
    
        var popup_f8dac467acd94de48f9c49609db5fe13 = L.popup({"maxWidth": "100%"});

        
            var html_eaf36cc10ddf428f8ed5066eea83619f = $(`<div id="html_eaf36cc10ddf428f8ed5066eea83619f" style="width: 100.0%; height: 100.0%;">청량리전통시장</div>`)[0];
            popup_f8dac467acd94de48f9c49609db5fe13.setContent(html_eaf36cc10ddf428f8ed5066eea83619f);
        

        marker_78519ddbad964a70acaff7ba0f12310a.bindPopup(popup_f8dac467acd94de48f9c49609db5fe13)
        ;

        
    
    
            var marker_dfaa797827064442b50b19bc646d3c61 = L.marker(
                [37.57797285, 127.0684128],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_6c1ddd8ad4e64b5c9e23bd8b972dd9d0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_dfaa797827064442b50b19bc646d3c61.setIcon(icon_6c1ddd8ad4e64b5c9e23bd8b972dd9d0);
        
    
        var popup_2b9f844fade5412883331432a99ce4eb = L.popup({"maxWidth": "100%"});

        
            var html_c256522aa7c14eb59a90b6666d45c1f1 = $(`<div id="html_c256522aa7c14eb59a90b6666d45c1f1" style="width: 100.0%; height: 100.0%;">전곡시장</div>`)[0];
            popup_2b9f844fade5412883331432a99ce4eb.setContent(html_c256522aa7c14eb59a90b6666d45c1f1);
        

        marker_dfaa797827064442b50b19bc646d3c61.bindPopup(popup_2b9f844fade5412883331432a99ce4eb)
        ;

        
    
    
            var marker_bd1d9e8ead084b64bc28f6f5792056a5 = L.marker(
                [37.565684399999995, 127.05177179999998],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_ca2d3a4d4649489b9aaef28561f51851 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_bd1d9e8ead084b64bc28f6f5792056a5.setIcon(icon_ca2d3a4d4649489b9aaef28561f51851);
        
    
        var popup_ed3b87ead7c540f68f440c185dbdf547 = L.popup({"maxWidth": "100%"});

        
            var html_7ef5ffec69f647e08ea0d850fb99ad8d = $(`<div id="html_7ef5ffec69f647e08ea0d850fb99ad8d" style="width: 100.0%; height: 100.0%;">성동용답상가시장</div>`)[0];
            popup_ed3b87ead7c540f68f440c185dbdf547.setContent(html_7ef5ffec69f647e08ea0d850fb99ad8d);
        

        marker_bd1d9e8ead084b64bc28f6f5792056a5.bindPopup(popup_ed3b87ead7c540f68f440c185dbdf547)
        ;

        
    
    
            var marker_1be56a2d4cd5443ea50013ef87a30c1f = L.marker(
                [37.611876099999996, 127.06121189999999],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_e48b48a7a5464baeb5a022b9a3841a7c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_1be56a2d4cd5443ea50013ef87a30c1f.setIcon(icon_e48b48a7a5464baeb5a022b9a3841a7c);
        
    
        var popup_b28e17e3abcd4ff2bef621c50f53790e = L.popup({"maxWidth": "100%"});

        
            var html_5895d08073ff4cd3bbdedfd483a25754 = $(`<div id="html_5895d08073ff4cd3bbdedfd483a25754" style="width: 100.0%; height: 100.0%;">석관황금시장</div>`)[0];
            popup_b28e17e3abcd4ff2bef621c50f53790e.setContent(html_5895d08073ff4cd3bbdedfd483a25754);
        

        marker_1be56a2d4cd5443ea50013ef87a30c1f.bindPopup(popup_b28e17e3abcd4ff2bef621c50f53790e)
        ;

        
    
    
            var marker_12e978bcd55849d080e151feecb6d225 = L.marker(
                [37.57119549, 127.01501110000001],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_15e85c177704474d8293175c5e260574 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_12e978bcd55849d080e151feecb6d225.setIcon(icon_15e85c177704474d8293175c5e260574);
        
    
        var popup_aba10c9478fb4771ba315254fd9f1914 = L.popup({"maxWidth": "100%"});

        
            var html_ce544def9fc14cc2af6982cf124b6098 = $(`<div id="html_ce544def9fc14cc2af6982cf124b6098" style="width: 100.0%; height: 100.0%;">청평화시장</div>`)[0];
            popup_aba10c9478fb4771ba315254fd9f1914.setContent(html_ce544def9fc14cc2af6982cf124b6098);
        

        marker_12e978bcd55849d080e151feecb6d225.bindPopup(popup_aba10c9478fb4771ba315254fd9f1914)
        ;

        
    
    
            var marker_14fbcef11da449cc9768d76bfe9593f4 = L.marker(
                [37.56917817, 127.02000749999999],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_8cd1b6faf7dd4644bd42b6662d02e71e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_14fbcef11da449cc9768d76bfe9593f4.setIcon(icon_8cd1b6faf7dd4644bd42b6662d02e71e);
        
    
        var popup_af0b1bffc6cc456ca8dacd05d3063d98 = L.popup({"maxWidth": "100%"});

        
            var html_9d1c8f52cf364d9f95c2a260aaed8eba = $(`<div id="html_9d1c8f52cf364d9f95c2a260aaed8eba" style="width: 100.0%; height: 100.0%;">서울중앙시장</div>`)[0];
            popup_af0b1bffc6cc456ca8dacd05d3063d98.setContent(html_9d1c8f52cf364d9f95c2a260aaed8eba);
        

        marker_14fbcef11da449cc9768d76bfe9593f4.bindPopup(popup_af0b1bffc6cc456ca8dacd05d3063d98)
        ;

        
    
    
            var marker_72d42397655740399e88dde753741e4c = L.marker(
                [37.57901833, 127.0887068],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_5e8e4e3e48b744efb9de82fde00439d0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_72d42397655740399e88dde753741e4c.setIcon(icon_5e8e4e3e48b744efb9de82fde00439d0);
        
    
        var popup_a28773ad5621471597fa1a8a4ac0395f = L.popup({"maxWidth": "100%"});

        
            var html_fa05c49cede34f2a8a2abf1299ccfd4e = $(`<div id="html_fa05c49cede34f2a8a2abf1299ccfd4e" style="width: 100.0%; height: 100.0%;">면목골목시장</div>`)[0];
            popup_a28773ad5621471597fa1a8a4ac0395f.setContent(html_fa05c49cede34f2a8a2abf1299ccfd4e);
        

        marker_72d42397655740399e88dde753741e4c.bindPopup(popup_a28773ad5621471597fa1a8a4ac0395f)
        ;

        
    
    
            var marker_bb033b71976642428e68806b44630a47 = L.marker(
                [37.58099465, 127.08674029999999],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_45ca98c96cb2467082cb581d65328eda = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_bb033b71976642428e68806b44630a47.setIcon(icon_45ca98c96cb2467082cb581d65328eda);
        
    
        var popup_44e772af01a942ebbd5b1932bc045b83 = L.popup({"maxWidth": "100%"});

        
            var html_ad536e5d475a4baab621e6f2857857bf = $(`<div id="html_ad536e5d475a4baab621e6f2857857bf" style="width: 100.0%; height: 100.0%;">면목시장</div>`)[0];
            popup_44e772af01a942ebbd5b1932bc045b83.setContent(html_ad536e5d475a4baab621e6f2857857bf);
        

        marker_bb033b71976642428e68806b44630a47.bindPopup(popup_44e772af01a942ebbd5b1932bc045b83)
        ;

        
    
    
            var marker_a0b234e14e77454daf6be95cd5cf7a99 = L.marker(
                [37.58375655, 127.0886608],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_fe49d5d6b5ec4e12b9e9936362e4c0e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a0b234e14e77454daf6be95cd5cf7a99.setIcon(icon_fe49d5d6b5ec4e12b9e9936362e4c0e1);
        
    
        var popup_e60e7ea005294924932e96467e67c174 = L.popup({"maxWidth": "100%"});

        
            var html_5570ea809bc34e70a255fc043a27972e = $(`<div id="html_5570ea809bc34e70a255fc043a27972e" style="width: 100.0%; height: 100.0%;">사가정시장</div>`)[0];
            popup_e60e7ea005294924932e96467e67c174.setContent(html_5570ea809bc34e70a255fc043a27972e);
        

        marker_a0b234e14e77454daf6be95cd5cf7a99.bindPopup(popup_e60e7ea005294924932e96467e67c174)
        ;

        
    
    
            var marker_d765f46b330b4f3bb04e79c1603b03c8 = L.marker(
                [37.59152247, 127.09006969999999],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_30bd7fd9236c4f8ea3ea870b0fcf6acd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d765f46b330b4f3bb04e79c1603b03c8.setIcon(icon_30bd7fd9236c4f8ea3ea870b0fcf6acd);
        
    
        var popup_4c9e0781f869433f913970ffe167ed20 = L.popup({"maxWidth": "100%"});

        
            var html_a08c90024992432199a0d5cd9a9696b3 = $(`<div id="html_a08c90024992432199a0d5cd9a9696b3" style="width: 100.0%; height: 100.0%;">동원시장</div>`)[0];
            popup_4c9e0781f869433f913970ffe167ed20.setContent(html_a08c90024992432199a0d5cd9a9696b3);
        

        marker_d765f46b330b4f3bb04e79c1603b03c8.bindPopup(popup_4c9e0781f869433f913970ffe167ed20)
        ;

        
    
    
            var marker_0b6b2155f6f5485b9a187df867198e86 = L.marker(
                [37.60783483, 127.09459509999999],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_cb2c208c244c4141a751b2eaedd3b756 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0b6b2155f6f5485b9a187df867198e86.setIcon(icon_cb2c208c244c4141a751b2eaedd3b756);
        
    
        var popup_e5e92b2f2b614b2db25b7438db2c2ec2 = L.popup({"maxWidth": "100%"});

        
            var html_87570008314a4b8d8ce656777cfc10c4 = $(`<div id="html_87570008314a4b8d8ce656777cfc10c4" style="width: 100.0%; height: 100.0%;">신아타운</div>`)[0];
            popup_e5e92b2f2b614b2db25b7438db2c2ec2.setContent(html_87570008314a4b8d8ce656777cfc10c4);
        

        marker_0b6b2155f6f5485b9a187df867198e86.bindPopup(popup_e5e92b2f2b614b2db25b7438db2c2ec2)
        ;

        
    
    
            var marker_6a2312ed354c4947b16cfd9e83f1c052 = L.marker(
                [37.60923522, 127.0979045],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_f4a1c0ce6d4f4a8ba5038de48916025b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6a2312ed354c4947b16cfd9e83f1c052.setIcon(icon_f4a1c0ce6d4f4a8ba5038de48916025b);
        
    
        var popup_19b411d5155941f9a2570049e02b3389 = L.popup({"maxWidth": "100%"});

        
            var html_2bdccc96d4f84fe294f8dbc092ae7b57 = $(`<div id="html_2bdccc96d4f84fe294f8dbc092ae7b57" style="width: 100.0%; height: 100.0%;">동성타워프라자</div>`)[0];
            popup_19b411d5155941f9a2570049e02b3389.setContent(html_2bdccc96d4f84fe294f8dbc092ae7b57);
        

        marker_6a2312ed354c4947b16cfd9e83f1c052.bindPopup(popup_19b411d5155941f9a2570049e02b3389)
        ;

        
    
    
            var marker_96c0a4271161459c99be1b3020a407ef = L.marker(
                [37.59417034, 127.07648229999998],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_7462c1339e104f8ab6bbd69ab341dd33 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_96c0a4271161459c99be1b3020a407ef.setIcon(icon_7462c1339e104f8ab6bbd69ab341dd33);
        
    
        var popup_80c87002c3fb4a6092f4149cdd18b1cb = L.popup({"maxWidth": "100%"});

        
            var html_07da5dcbca4d41e9b0eeb2b2eaeeba0c = $(`<div id="html_07da5dcbca4d41e9b0eeb2b2eaeeba0c" style="width: 100.0%; height: 100.0%;">동부골목시장</div>`)[0];
            popup_80c87002c3fb4a6092f4149cdd18b1cb.setContent(html_07da5dcbca4d41e9b0eeb2b2eaeeba0c);
        

        marker_96c0a4271161459c99be1b3020a407ef.bindPopup(popup_80c87002c3fb4a6092f4149cdd18b1cb)
        ;

        
    
    
            var marker_a56af70b8c3d4f3f80d3869d5b06c84a = L.marker(
                [37.62104902, 127.06593559999999],
                {}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
            var icon_eeb22dfb149342b58e039aabfc491502 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a56af70b8c3d4f3f80d3869d5b06c84a.setIcon(icon_eeb22dfb149342b58e039aabfc491502);
        
    
        var popup_8aa4d060ceda4e74a06bdeba2dba6962 = L.popup({"maxWidth": "100%"});

        
            var html_08a488d23ad94be1bda519e3a0fbec21 = $(`<div id="html_08a488d23ad94be1bda519e3a0fbec21" style="width: 100.0%; height: 100.0%;">한솔로지스틱스(주) 성북센터</div>`)[0];
            popup_8aa4d060ceda4e74a06bdeba2dba6962.setContent(html_08a488d23ad94be1bda519e3a0fbec21);
        

        marker_a56af70b8c3d4f3f80d3869d5b06c84a.bindPopup(popup_8aa4d060ceda4e74a06bdeba2dba6962)
        ;

        
    
    
            var circle_marker_42f05dcb07b343debb0773c7801684d5 = L.circleMarker(
                [37.62104902, 127.06593559999999],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "skyblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 85, "stroke": true, "weight": 3}
            ).addTo(map_cd3eb887625145aa94e767ceac6e65ea);
        
    
        var popup_2ba3ae71451d46dcb94b5ec638801161 = L.popup({"maxWidth": "100%"});

        
            var html_d671f2379ec7486db672c352d2ac7c66 = $(`<div id="html_d671f2379ec7486db672c352d2ac7c66" style="width: 100.0%; height: 100.0%;">한솔로지스틱스(주) 성북센터</div>`)[0];
            popup_2ba3ae71451d46dcb94b5ec638801161.setContent(html_d671f2379ec7486db672c352d2ac7c66);
        

        circle_marker_42f05dcb07b343debb0773c7801684d5.bindPopup(popup_2ba3ae71451d46dcb94b5ec638801161)
        ;

        
    
</script>